{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>ChatApp</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'register'%}">ChatApp</a>
            </div>


        </div>
    </nav>

    <div class="container">
     <h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input id = "search_input" type="text"   placeholder="Search" >
                 </div>
            </div>
          </div>

          <div class="inbox_chat" id ='board'>
{% for user in object_list%}
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>{{user.display_name}} <span class="chat_date">Dec 25</span></h5>

                </div>
              </div>
            </div>
{% endfor%}

    </div>

  <script src="{% static 'js/chat.js' %}"></script>
            <script>

             $(document).ready( function() {
                    $("#search_input").on("input", function(){
                        search($(this).val());

                     });
            });
            </script>

</body>
</html>